{% extends "base.html" %}
{% include 'nav.html' %}
{% block content %}

<h1><center> Welcome to my blog! </center> </h1>


<table border="2px" align='center'>
  <thead>
  <tr>
    <td> Title </td>
    <td> Link </td>
  </tr>
  </thead>

  {% for page in pages %}
  <tr>
    <td> {{ page.title }} ({{ page.date }}) </td>
    <td> <a href="{{ page.path }}.html"> Read </a></td>
  </tr>
  {% endfor %}
</table>

<div class="button-container" align='center'>
  <a class="btn btn-outline-primary" href="/" role="button"><i class="bi bi-arrow-return-left"></i>&nbsp;&nbsp; Back </a>
</div>
{% endblock %}