{% extends "base.html" %}

{% block content %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class='login'>
    <h1>Sign-up</h1>
    <form method="POST">
        <p>
            <label for="username">username: </label>
            <input type="text" name="username" placeholder="username">
        </p>
        <p>
            <label for="password">password: </label>
            <input type="password" name="password" placeholder="password">
        </p>
        <p>
        <div class="g-recaptcha" data-sitekey="{{ site_key }}" style="text-align: center; display: inline-block;"></div>
        </p>
        <p>
            <input type="submit" value="Register">
        </p>
    </form>
</div>

{% endblock %}